button {
    width: 150px;
    padding: 0.5rem;
    background-color: #3cd264;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
  }

  button:hover {
    background-color: #66d083;
  }
  
  button:active {
    background-color: #90cea3;
  }
  