.management {
    margin: 20px;
}

.management-header {
    display:flex;
    justify-content: space-between;
}

.small-button-color1 {
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    border-radius: 9px;
    background-color: var(--hover-green);
    border: solid;
    border-color: var(--hover-green);
    color:white;
}

.small-button-color1:hover {
    background-color: #66d082c0;
}
.small-button-color2:hover {
    background-color: #58b872be;
}
.small-button-color2 {
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    border-radius: 9px;
    background-color: var(--button-green);
    border: solid;
    border-color: var(--button-green);
    color:white;
}

.management-table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    td {
        border-bottom: 1px solid var(--grey);
        padding: 10px 20px;
    }
    th {
        border-bottom: 1px solid var(--dark-grey);
        padding: 10px 20px;
    }
}

/* Modal */ 

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: var(--background-card);
    margin: auto;
    padding: 15px 5px;
    border: 1px solid #888;
    width: 25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    text-align: center;
    h1 {
        font-size: 28px;
    }  
}

/* Creation form */

.creation-section {
     input, select {
        width: 200px;
        margin-bottom: 20px;
     }
     button {
        margin: 10px;
    }
    button[type="button"] {
        background-color: rgb(226, 72, 72);
    }
    button[type="button"]:hover {
        background-color: rgba(226, 72, 72, 0.842);
    }
}