.management {
  margin: 20px;
}
.managementpage {
  margin: 0px;
}

.management-header {
  display: flex;
  justify-content: space-between;
}

.small-button:hover {
  background-color: #58b872be;
}

.small-button {
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  border-radius: 9px;
  background-color: var(--button-green);
  border: solid;
  border-color: var(--button-green);
  color: white;
}

.management-table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;

  td {
    border-bottom: 1px solid var(--grey);
    padding: 15px 15px;
  }

  th {
    border-bottom: 1px solid var(--dark-grey);
    padding: 15px 15px;
  }
}

@media (max-width: 1250px) {
  .management-table {
    td,
    th {
      padding: 5px;
    }
  }
}

@media (max-width: 1000px) {
  .management-table {
    width: 100%;
    td,
    th {
      padding: 7px;
    }
  }

  thead {
    display: none;
  }

  tr:nth-of-type(2n) {
    background-color: inherit;
  }

  tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
    font-size: 1.3em;
  }

  tbody td {
    display: block;
    text-align: center;
  }

  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
  .management {
    h1 {
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

/* Creation form */

.creation-section {
  input,
  select {
    width: 200px;
    margin-bottom: 15px;
  }

  button {
    margin: 10px;
  }

  button[type="button"] {
    background-color: rgb(226, 72, 72);
  }

  button[type="button"]:hover {
    background-color: rgba(226, 72, 72, 0.842);
  }
}

.success-message {
  color: green;
  font-size: 20px;
  margin: 10px;
}

a:link {
  text-decoration: none;
}
