.management {
    margin: 20px;
}

.management-header {
    display:flex;
    justify-content: space-between;
}

.small-button-color1 {
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    border-radius: 9px;
    background-color: var(--hover-green);
    border: solid;
    border-color: var(--hover-green);
    color:white;
}

.small-button-color1:hover {
    background-color: #66d082c0;
}
.small-button-color2:hover {
    background-color: #58b872be;
}
.small-button-color2 {
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    border-radius: 9px;
    background-color: var(--button-green);
    border: solid;
    border-color: var(--button-green);
    color:white;
}

.management-table {
    border-collapse: collapse;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    td {
        border-bottom: 1px solid var(--grey);
        padding: 10px 20px;
    }
    th {
        border-bottom: 1px solid var(--dark-grey);
        padding: 10px 20px;
    }
}