.patient-card-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--dark-grey);
    i {
        font-size: 40px;
        margin: 5px;
    }
}

#type-icon, #status {
    flex-basis: 15%
}

.appoint{
    flex-basis: 30%;
    p {
        line-height: 30px;
    }
}

.patient {
    flex-basis: 40%;
    p {
        line-height: 30px;
    }
}


.patient-name, .patient-hour {
    font-weight: bold;
}


.completed-status {
    background-color: rgb(44, 44, 183);
}

.completed-status:hover {
    background-color: rgba(50, 50, 175, 0.892);
}

